// Here you can add other styles
.paddingLeft {
  margin-left: 10px;
}

.paddingRight {
  margin-right: 10px;
}

.blue {
  color: $blue;
}

.blueSquare {
  background-color: $blue;
}
.profileBox {
  // min-height: 200px;
  // height: 80%;
}

// SIDEBAR COLORS
.sidebar {
  background-color: #1abc9c;
}

.sidebar .nav-link.active, .sidebar .navbar .active.dropdown-toggle, .navbar .sidebar .active.dropdown-toggle {
  background-color: #16a085;
}

.nav-link:hover {
  background-color: White
}
// ____________



.cardButton {
  background-color: red;
}

.addButton {
  color: white;
}

th h3 {
  margin: 0;
}

.center {
  text-align: center;
}

.fullWidthButton {
  width: 100%;
}

.topButton {
  margin-bottom: 10px;
}

.underline {
  text-decoration: underline;
}

.linkCard:hover {
  text-decoration: none;
  color: $blue;
  font-size: 20px;
}

.invoiceCard {
  // width: 80%;
  // margin-left: auto;
  // margin-right: auto;
}
.invoice-container {
  // border: 2px black solid;
  // background-color: red;
  width: inherit;
  // max-width: 600px;
  margin: 0px auto;
  min-height: 840px;
  // height: 29.7cm;
  position: relative;
}

.invoiceHeader {
  margin-bottom: 20px;
}

.invoiceClientDetails {
  margin-bottom: 20px;
}

.invoiceTableRow {
  min-height: 200px;
  margin-bottom: 10px;
  padding-bottom: auto;
}

.invoiceFooter {
  // width: 80%;
  margin-top: 20px;
  // position: absolute;
  text-align: center;
  // bottom: 0;
}

.footer {
  padding-top: 20px;
  border-top: 1px grey solid;
  // margin: 0px auto;
  // font-size: 10vh;
}

.rightBox {
  text-align: right;
}

.leftBox {
  text-align: left;
}

.bold {
  font-weight: bold;
}

.noBox {
  border: none;
}

.totals {
  padding-top: 10px;
}
